html, body {
    height: 100%;
}

h1, h2, h3 {
    margin: 0;
    padding-bottom: 0;
}

p, ol, ul {
    margin-top: 0;
}

p {
    text-align: justify;
    line-height: 190%;
    margin-bottom: 0;
    padding-bottom: 1rem;
}

a {
    color: #171717;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}

table, td, th {
    border: 1px black;
    column-width: 200px;
}

.general {
    text-align: justify;
}

.image {
    display: inline-block;
}

.image img {
    display: block;
    width: 100%;
}

.image-full {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image-left {
    float: left;
    margin: 0 2em 2em 0;
}

.image-centered {
    display: block;
    margin: 0 0 2em 0;
}

.image-centered img {
    margin: 0 auto;
    width: auto;
}

hr {
    display: none;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

ul.style2 {
    border-top: solid 1px #E5E5E5;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.style2 li {
    padding: 0.80em 0;
}

ul.style2 li:first-child {
    border-top: 0;
    padding-top: 0;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 10px;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.skill {
    width: 100%;
    text-align: left;
}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

ul.contact {
    margin: 0;
    padding: 1.5em 0 2.5em 0;
    list-style: none;
}

ul.contact li {
    display: inline-block;
    padding: 0 0.30em;
    font-size: 1em;
}

ul.contact li span {
    display: none;
    margin: 0;
    padding: 0;
}

ul.contact li a {
    color: #FFF;
}

ul.contact li a:before {
    display: inline-block;
    background: #3f3f3f;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #FFFFFF;
}

ul.contact li a.icon-twitter:before {
    background: #2DAAE4;
}

ul.contact li a.icon-facebook:before {
    background: #39599F;
}

ul.contact li a.icon-github:before {
    background: #66008d;
}

ul.contact li a.icon-linkedin:before {
    background: #283e4a;
}

ul.contact li a.icon-rss:before {
    background: #F2600B;
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title {
    margin-bottom: 0.6em;
    text-transform: uppercase;
}

/** WRAPPER */

#wrapper {
    background: #c0c0c0;
}

.main_content {
    width: 100%;
}

.content {
    padding: 2% 2%;
    width: 96%;
}

#footer-wrapper {
    background: #000000;
}

.clearfix {
    clear: both;
}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

#header-wrapper {
    overflow: hidden;
    background-size: 100%;
    padding: 0 0 2em 0;
    background: #333333;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header {
    position: relative;
    overflow: hidden;
    text-align: center;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
    width: 500px;
    height: 50px;
    margin: 0 auto;
    padding: 2em 0;
    text-transform: uppercase;
}

#logo h1 {
    letter-spacing: 0.10em;
    font-size: 3em;
}

#logo p {
    letter-spacing: 0.10em;
    color: #FFF;
}

#logo a {
    text-decoration: none;
    color: #FFF;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/
/* TODO : Update the menu bar */

nav#navbar {
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
    overflow: hidden;
    display: block;
    height: 50px;
    line-height: normal;
    text-align: center;
    z-index: 50;
}

nav#navbar ul {
    list-style-type: none;
    text-align: center;
}

nav#navbar ul::after{
     content: "";
     display: table;
     clear: both;
 }

nav#navbar ul li {
    float: left;
    width: 25%;
    margin: auto;
    text-align: center;
    position: relative;
}

nav#navbar a {
    display: block;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.30em;
    line-height: 50px;
    padding: 0 2.5%;
}

nav#navbar a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}
.dropdown-child{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav#navbar > ul li:hover .dropdown-child{
    display: block;
}

.dropdown-child li{
    float: none;
    width: 100%;
    text-align: left;
}
.dropdown-child a{
    padding: 10px;
    border-bottom: none;
}
.dropdown-child a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.dropdown > a::after{
    content:" ▼";
    font-size: 12px;
}

/** CONTENT */

#content_index {
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}

#index_page_content {
    float: right;
    padding: 0 0;
    width: 80%;
}

#page_content {
    float: right;
    padding: 2% 2%;
    width: 71%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .main_content {
    padding-top: 60px;
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#index_sidebar {
    float: left;
    padding: 0 0;
    width: 20%;
}

#index_sidebar .title h2{
    font-size: 1.6em;
}

#index_sidebar {
    margin-bottom: 3em;
}

#sidebar {
    float: left;
    padding: 2% 2%;
    width: 21%;
}

#sidebar .title h2 {
    font-size: 1.2em;
}

#sidebar .box1 {
    margin-bottom: 3em;
}

#sidebar .box2 {
    float: left;
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
}

#sidebar a, .dropdown-btn {
    padding: 4px 8px 4px 10px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:90%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

#sidebar .box .dropdown-btn a {
    padding: 0;
}

#sidebar a:hover, .dropdown-btn:hover {
    color: #B1B1B1;
}

.active {
    background-color: #cc0099;
    color: white;
}

.dropdown-container {
    display: none;
    padding-left: 8px;
    transition: max-height 0.5s;
    max-height: 0px;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
    overflow: hidden;
    padding: 5em 0;
    text-align: center;
}

#copyright p {
    letter-spacing: 0.20em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.80em;
    color: rgba(255, 255, 255, .5);
}

#copyright a {
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

#welcome {
    overflow: hidden;
    padding: 5em 0;
    border-bottom: 1px solid #E5E5E5;
    text-align: center;
}

#welcome h2 {
    letter-spacing: 0.20em;
    text-transform: uppercase;
    font-size: 2.6em;
}

#welcome p {
    font-size: 1.3em;
}

#welcome .byline {
    display: block;
    padding: 0 0 1.5em 0;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2em;
    color: #6F6F6F;
}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

#portfolio-wrapper {
    background: rgba(0, 0, 0, .04);
    padding: 1% 2%;
    color: rgba(255, 255, 255, .7);
}

#portfolio {
    overflow: hidden;
}

#portfolio .title h2 {
    font-size: 1.1em;
    color: #FFF;
}

#column1, #column2, #column3, #column4, #column5 {
    width: 22%;
}

#column1, #column2, #column3, #column4, #column5 {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}
/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button:before {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #FFF;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer-wrapper {
    overflow: hidden;
    padding: 1em 0;
    background: #1E1B1A;
}

#footer {
    color: #ADADAD;
}

#footer .title {
    margin: 0;
}

#footer .title h2 {
    font-weight: 400;
    font-size: 1.2em;
    color: #FFF;
    margin-bottom: 0.25rem;
}

#footer .footer-list {
    border-top: solid 1px #E5E5E5;
    margin: 0;
    padding: 0.25rem 0 0;
    list-style: none;
}

#footer .footer-list a, #footer .footer-list div {
    font-size: 1.2em;
    color: #B1B1B1;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#footer .footer-list .fa, #footer .footer-list .fas, #footer .footer-list .fab {
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

#footer .footer-list a:hover {
    color: white;
    text-decoration: underline;
}

#footer .footer-list li {
    padding: 0.25rem 0;
    font-size: 0.75rem;
}

#box1 {
    float: left;
    width: 30%;
    margin-right: 24px;
    padding-right: 30px;
}

#box2 {
    float: left;
    width: 30%;
    margin-left: 24px;
    padding-right: 30px;
}

#box3 {
    float: right;
    width: 30%;
    padding-left: 40px;
}