body {
    margin: 0;
    padding: 0;
    background: #cc0099;
    font-family: 'Chivo', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: #363636;
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title h2 {
    font-weight: 300;
    font-size: 1.75em;
    color: #6F6F6F;
}

.byline {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.25em;
    color: #800060;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner {
    overflow: hidden;
    height: 330px;
    background: url(../img/background/bg_mez.jpg) no-repeat center;
    background-size: cover;
}

#banner .image {
}

/** MENU */


nav {
    background: #cc0099;
}


/** PAGE */

#page {
    background: #FFFFFF;
    overflow: hidden;
}

/** Race content */

.race {
    padding-top: 5px;
    margin-left: 25px;
    text-align: left;
}

.poem_content {
    display: none;
    padding: 6px 10px;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

#portfolio .byline {
    font-size: 0.75em;
    color: #800060;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button {
    display: inline-block;
    margin-top: 1.5em;
    padding: 0.50em 3em 0.50em 2em;
    background: #800060;
    letter-spacing: 0.20em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.90em;
    color: #FFF;
}