body {
    margin: 0;
    padding: 0;
    background: #003300;
    font-family: 'Chivo', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: #363636;
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title h2 {
    font-weight: 400;
    font-size: 2em;
    color: #6F6F6F;
}

.title .byline {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.90em;
    color: #008000;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner {
    overflow: hidden;
    height: 330px;
    background: url(../img/background/mbg_stardust.jpg) no-repeat center;
    background-size: cover;
}

#banner .image {
}

/** MENU */

#menu-wrapper {
    background: #003300;
}

#menu {
    background: #003300;
    overflow: hidden;
    width: 100%;
    display: block;
    margin-left: 0;
    margin-right: 0;
    height: 50px;
    line-height: normal;
    text-align: center;
    box-shadow: 0 2px #006600;
}

/** PAGE */

#page {
    background: #FFFFFF;
    overflow: hidden;
}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

#portfolio .byline {
    font-size: 0.75em;
    color: #004d00;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button {
    display: inline-block;
    margin-top: 1.5em;
    padding: 0.50em 3em 0.50em 2em;
    background: #004d00;
    letter-spacing: 0.20em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.90em;
    color: #FFF;
}