nav#navbar {
    background: #4D004D;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0px;
    display: block;
    height: 52px;
    line-height: normal;
    text-align: center;
    z-index: 50;
}

nav#navbar ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

nav#navbar > ul {
    display: flex;
    height: 100%;
    align-items: flex-start;
    margin: 0;
}

nav#navbar > ul > li:hover {
    border-bottom: 2px solid gold;
}

nav#navbar ul li {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

nav#navbar a, nav#navbar .dropdown button {
    display: block;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 50px;
    padding: 0 2.5%;
}

nav#navbar li a:hover, nav#navbar li button:hover {
    color: orange;
}

/* Dropdown */

nav#navbar .dropdown button {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    cursor: pointer;
}

nav#navbar .dropdown .fa-caret-down {
    margin-left: 0.5rem;
    font-size: 1.25rem;
}

nav#navbar .dropdown-list {
    position: absolute;
    width: 100%;
    z-index: 60;
    top: calc(100% + 2px);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
    background: #4D004D;
}

nav#navbar > ul li:hover .dropdown-list {
    max-height: 500px;
    transition: max-height 0.2s;
}

nav#navbar .dropdown-list li {
    float: none;
    width: 100%;
    text-align: left;
}

nav#navbar .dropdown-list a {
    padding: 10px;
    border-bottom: none;
    font-size: 1rem;
}

nav#navbar .dropdown-list a:hover{
    border-bottom: none;
    background-color: rgba(0,0,0,0.1);
}

/** CONTENT */

#content_index {
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}

#index_page_content {
    float: right;
    padding: 0 0;
    width: 80%;
}

#page_content {
    float: right;
    padding-right: 6%;
    padding: 2% 4%;
    width: 82%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .main_content {
    padding-top: 60px;
}